<div class="container-sm d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; border-radius: 15px;">
      <div class="card-body">
        <h3 class="text-center text-primary mb-4">Iniciar Sesión</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="correoEmpleado" class="form-label fw-bold">Correo</label>
            <input 
              type="email" 
              class="form-control" 
              id="correoEmpleado" 
              formControlName="correoEmpleado" 
              placeholder="Ingrese su correo electrónico">
          </div>
          <div class="mb-3">
            <label for="passwordEmpleado" class="form-label fw-bold">Contraseña</label>
            <input 
              type="password" 
              class="form-control" 
              id="passwordEmpleado" 
              formControlName="passwordEmpleado" 
              placeholder="Ingrese su contraseña">
          </div>
          <button type="submit" class="btn btn-primary w-100"[routerLink]="['/miscelanea']"(click)="onSubmit()">Iniciar Sesión</button>
        </form>
        <div class="text-center mt-3">
          <p class="small">
            ¿No tienes una cuenta? <a class="nav-link" [routerLink]="['/formulario']" class="text-decoration-none text-primary fw-bold">Regístrate aquí</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  