<nav class="navbar navbar-light bg-info">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="asset/img/facebook.svg" alt="" width="30" height="24">
        <img src="asset/img/instagram.svg" alt="" width="30" height="24">
        <img src="asset/img/x.svg" alt="" width="30" height="24">
      </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>  
  </nav>
 