<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Old School S&J</title>

</head>
<body>

   <!-- Galería de productos destacados -->
   <div class="product-gallery">
    <div class="product-card">
      <img src="asset/img/buso los angeles negra.jpg" alt="Buso Los Angeles">
      <p>ROPA</p>
  
    </div>
    <div class="product-card">
      <img src="asset/img/Jordan Retro.jpeg" alt="Lv Stake">
      <p>ZAPATOS</p>
    
    </div>
    <div class="product-card">
      <img src="asset/img/ofertas.png" alt="Lakers">
      <p>OFERTAS</p>
    </div>
  </div>

  <!-- Sección de compras -->
  <section class="products-section">
    <div class="products-grid">
      <div class="product-item">
        <img src="asset/img/Buzo Movement beach.jpeg" alt="Buzo Movement beach">
        <p>Buzo Movement</p>
        <h3>$220.000</h3>
        <button>Comprar</button>
      </div>
      <div class="product-item">
        <img src="asset/img/Lv Stake 1.jpeg" alt="Lv Stake 1">
        <p>Lv Stake</p>
        <h3>$180.000</h3>
        <button>Comprar</button>
      </div>
      <div class="product-item">
        <img src="asset/img/LAKERS NEGRO.jpg" alt="LAKERS NEGRO">
        <p>Lakers Negro</p>
        <h3>$200.000</h3>
        <button>Comprar</button>
      </div>
    </div>
  </section>
 
</body>
</html>
