body {
    background-image: url('https://i.pinimg.com/originals/2e/08/61/2e08617f3f0e57bc5b0343e37b56d7bc.jpg'); 
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; 
    padding: 10px 20px;
    color: white;
}
.logo-container {
    display: flex;
    align-items: center;
}
.menu-left,
.menu-right {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-left li,
.menu-right li {
    margin: 0 15px;
}

.menu-left a,
.menu-right a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.menu-left a:hover,
.menu-right a:hover {
    background-color: #444; /* Color de fondo al hacer hover */
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}
header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}
h1 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    margin: 0;
    padding: 15px;
}
.main {
    padding: 20px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.imagenes {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.price {
    font-size: 18px;
    margin-top: 10px;
}

.original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
}

.discounted-price {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.oferta {
    border: 2px solid red;
    position: relative;
}

.oferta::before {
    content: 'OFERTA';
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.submit {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.submit:hover {
    background-color: #218838;
}

nav {
    background-color: #000000;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #000000;
}

